In [1]:
# import dependencies

import pandas as pd

In [2]:
# load the data into a dataframe

df=pd.DataFrame(pd.read_csv('raw_data/delta_public_00_12.csv',encoding='cp1252', low_memory=False))
df.head()

,groupid,academicyear,unitid_linchpin,unitid,isgrouped,instname,TCSName,city,state,zip,...,Iptall1,Iptall2,Iptall3,Iptall4,Iptall5,Iptall6,Iptall7,Iptall8,Ifaculty_instr_headcount,Isalarytotal
0,-475291,2012,475291,475291,0,Brown College-Brooklyn Center,NaN,Brooklyn Center,MN,55430,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,-475282,2012,475282,475282,0,Marian Health Careers Center-Van Nuys Campus,NaN,Van Nuys,CA,91411,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
2,-475273,2012,475273,475273,0,Springfield College-School of Human Services,NaN,Springfield,MA,01109,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
3,-475255,2012,475255,475255,0,American Broadcasting School-Online Program,NaN,Oklahoma City,OK,73115,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
4,-475246,2012,475246,475246,0,Kaplan College-Chesapeake,NaN,Chesapeake,VA,23320,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2

In [6]:
# Locate public and private non-profit universities using the "control" column, which is "1" for public universities
# and "2" for private non-profit universities

df1=df.loc[
    (df['control']==1)|
    (df['control']==2)]

In [7]:
# "unitid" in the unique identification number for each university.
# Groupby "unitid" and then do a count to get the number of years each university has reported the data 

gb=df1.groupby('unitid').count().reset_index()

In [32]:
# Gather an array of unitid of those universities which have reported the necessary expense data for all 13 years

expense_id=gb['unitid'].loc[
    (gb['fte_count']==13)&
    (gb['instruction01']==13)&
    (gb['research01']==13)&
    (gb['pubserv01']==13)&
    (gb['acadsupp01']==13)&
    (gb['studserv01']==13)&
    (gb['instsupp01']==13)&
    (gb['auxiliary01']==13)&
    (gb['opermain01']==13)&
    (gb['grants01']==13)&
    (gb['eandg01']==13)&
    (gb['eandg01_sum']==13)&
    (gb['eandg01_w_auxother_sum']==13)
]

expense_id.count()

452

In [39]:
# Gather an array of unitid of those universities which have reported the necessary revenue data for all 13 years

revenue_id=gb['unitid'].loc[
    (gb['fte_count']==13)&
    (gb['tuition03']==13)&
    (gb['net_student_tuition']==13)&
    (gb['federal10']==13)&
    (gb['state09']==13)&
    (gb['private03']==13)&
    (gb['auxiliary03']==13)&
    (gb['other05']==13)&
    (gb['grant01']==13)&
    (gb['grant02']==13)&
    (gb['grant03']==13)&
    (gb['grant07']==13)&
    (gb['institutional_grant_aid']==13)]

revenue_id.count()

655

In [36]:
# Gather an array of unitid of those universities which have reported the necessary complete data for all 13 years

complete_id=gb['unitid'].loc[
    (gb['fte_count']==13)&
    (gb['tuition03']==13)&
    (gb['net_student_tuition']==13)&
    (gb['federal10']==13)&
    (gb['state09']==13)&
    (gb['private03']==13)&
    (gb['auxiliary03']==13)&
    (gb['other05']==13)&
    (gb['grant01']==13)&
    (gb['grant02']==13)&
    (gb['grant03']==13)&
    (gb['grant07']==13)&
    (gb['institutional_grant_aid']==13)&
    (gb['instruction01']==13)&
    (gb['research01']==13)&
    (gb['pubserv01']==13)&
    (gb['acadsupp01']==13)&
    (gb['studserv01']==13)&
    (gb['instsupp01']==13)&
    (gb['auxiliary01']==13)&
    (gb['opermain01']==13)&
    (gb['grants01']==13)&
    (gb['eandg01']==13)&
    (gb['eandg01_sum']==13)&
    (gb['eandg01_w_auxother_sum']==13)]

complete_id.count()

241

In [37]:
# Set "unitid" as index on the main "df" so that we can  locate the universities with complete dataset using
# the "unitid" array we got from above

df2=df.set_index('unitid')

In [40]:

expense_df=df2[['academicyear','instname','cpi_scalar_2012','hepi_scalar_2012',
                'fte_count','instruction01','research01','pubserv01','acadsupp01',
               'studserv01','instsupp01','auxiliary01','opermain01','grants01','eandg01',
               'eandg01_sum','eandg01_w_auxother_sum']].loc[expense_id]

revenue_df=df2[['academicyear','instname','cpi_scalar_2012','hepi_scalar_2012','fte_count',
                'tuition03','net_student_tuition','federal10','state09',
               'private03','auxiliary03','other05','grant01','grant02',
               'grant03','grant07','institutional_grant_aid']].loc[revenue_id]

complete_df=df2[['academicyear','instname','cpi_scalar_2012','hepi_scalar_2012',
                 'fte_count','tuition03','net_student_tuition','federal10','state09',
                 'private03','auxiliary03','other05','grant01','grant02','grant03',
                 'grant07','institutional_grant_aid','instruction01','research01','pubserv01',
                 'acadsupp01','studserv01','instsupp01','auxiliary01','opermain01','grants01',
                 'eandg01','eandg01_sum','eandg01_w_auxother_sum']].loc[complete_id]

In [41]:
# export the resulting df

revenue_df.to_csv('clean_data/revenue_nonprofit.csv')
expense_df.to_csv('clean_data/expenses_nonprofit.csv')
complete_df.to_csv('clean_data/complete_nonprofit.csv')

In [12]:
gb2=revenue_df.groupby('academicyear')
gb2.sum()

,cpi_scalar_2012,hepi_scalar_2012,fte_count,tuition03,net_student_tuition,federal10,state09,private03,auxiliary03,other05,grant01,grant02,grant03,grant07,institutional_grant_aid
academicyear,,,,,,,,,,,,,,,
2000,487.295937,439.868690,4.542019e+06,3.040808e+10,1.976422e+10,1.445129e+10,3.291060e+10,1.001343e+10,1.196247e+10,1.787892e+10,2.313589e+09,5.985709e+08,1.791421e+09,1.063979e+10,5.912421e+09
2001,503.990069,466.229536,4.606313e+06,3.249688e+10,2.082831e+10,1.606195e+10,3.510432e+10,1.113732e+10,1.264666e+10,1.814583e+10,2.526212e+09,6.338578e+08,1.924819e+09,1.165728e+10,6.555695e+09
2002,512.912794,475.165416,4.766190e+06,3.537761e+10,2.217634e+10,1.836064e+10,3.939982e+10,7.586307e+09,1.364857e+10,2.243276e+10,3.057703e+09,7.578987e+08,2.011907e+09,1.316493e+10,7.341570e+09
2003,524.138158,499.292292,4.943924e+06,3.903751e+10,2.450251e+10,2.040691e+10,3.920126e+10,8.001758e+09,1.455856e+10,2.350140e+10,3.484498e+09,8.071216e+08,2.226813e+09,1.451426e+10,7.983364e+09
2004,535.651352,517.610846,5.057797e+06,4.340842e+10,2.751352e+10,2.218806e+10,3.920626e+10,7.971047e+09,1.554878e+10,2.569953e+10,3.729780e+09,8.550152e+08,2.349162e+09,1.587679e+10,8.911425e+09
2005,551.769824,537.939973,5.112732e+06,4.748992e+10,3.040399e+10,2.345106e+10,4.018440e+10,8.599222e+09,1.624376e+10,2.732472e+10,3.796866e+09,8.371359e+08,2.553173e+09,1.705074e+10,9.843684e+09
2006,572.781403,565.417804,5.159140e+06,5.135716e+10,3.314884e+10,2.378461e+10,4.267233e+10,9.574210e+09,1.733851e+10,2.963441e+10,3.651155e+09,8.859949e+08,2.767094e+09,1.820430e+10,1.085555e+10
2007,587.570101,581.502387,5.217575e+06,5.520485e+10,3.557401e+10,2.396788e+10,4.567779e+10,1.038107e+10,1.893958e+10,3.239522e+10,3.677052e+09,1.068408e+09,2.963142e+09,1.959882e+10,1.186831e+10
2008,609.341551,610.320600,5.318392e+06,5.956084e+10,3.821618e+10,2.478670e+10,4.968508e+10,1.144765e+10,1.893911e+10,3.484319e+10,4.111929e+09,1.069418e+09,3.133251e+09,2.132729e+10,1.297365e+10
2009,617.849801,623.947817,5.455786e+06,6.428088e+10,4.077318e+10,2.652452e+10,4.902501e+10,1.007331e+10,1.970376e+10,3.628089e+10,4.865112e+09,1.102465e+09,3.326050e+09,2.350475e+10,1.415600e+10
2010,623.828027,629.532742,5.694227e+06,6.991542e+10,4.172059e+10,3.161923e+10,4.787981e+10,1.004198e+10,2.054339e+10,3.774456e+10,7.608661e+09,1.439030e+09,3.644760e+09,2.818553e+10,1.545159e+10
2011,636.354382,644.276944,5.839549e+06,7.587015e+10,4.449907e+10,3.406822e+10,4.826860e+10,1.102542e+10,2.160264e+10,4.134755e+10,9.006690e+09,1.541444e+09,3.705374e+09,3.135571e+10,1.706901e+10
2012,655.000000,655.000000,5.863443e+06,8.135651e+10,4.896851e+10,3.317425e+10,4.602573e+10,1.130572e+10,2.271908e+10,4.084861e+10,8.846954e+09,9.726578e+08,3.944193e+09,3.238799e+10,1.859570e+10